<body>
    <div>
        <h1><a href="/" title="Home" class="text-success font-weight-bold ml-5">Bird Clinic</a></h1>
    </div>

    <div class="col-md-6 ml-auto mr-auto">
        <h3 class="font-weight-bold text-center my-5">Find a specialist ...</h3>
        <form action="/find_pro" method="POST">
            <input type="text" name="search" id="search" class="form-control form-lg" placeholder="Search by username or email or district or county or country ...">
       <button class="btn btn-success col-md-3 btn-block my-3 ml-auto mr-auto" type="submit" id="searchbtn">Search</button>
        </form>

        <div class="col-md-4 ml-auto mr-auto my-5 text-center">
            <a href="" class="mr-5">Help</a>
            <a href="/logout">Log out</a>
        </div>

        <div class="col-md-6 ml-auto mr-auto my-5 text-center"> 
                <p>@2019 BirdClinic Designed by Muchuma</p>
        </div>
    </div>
    
</body>