<div class="container">
    <h1 class="text-center mt-4 font-weight-bold">Bird Clinic Symptom checker</h1>
    <hr>
    <div class="row mt-4">
        <div class="col-md-4 border">
            <p class="text-primary text-center font-weight-bold">Selected symptoms goes here...</p>
            <div class="text-justify p-1"><span id="selectedItemSpan"></span></div>

        </div>
        <div class="col-md-2 transfer">
        </div>
    </div>

</div>


</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/jquery.transfer.js"></script>
<script type="text/javascript" src="/static/js/data.js"></script>